.singleRecipe {
  width: 20%;
  border: 1px #707070 solid;
  height: 100%;
  margin-top: 1%;
}
.singleRecipe-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px #707070 solid;
}
.singleRecipe-title {
  padding-left: 10%;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  margin: 0;
}
.singleRecipe-by {
  font-size: 0.7rem;
  padding-left: 10%;
  margin: 0;
}
.singleRecipe-button {
  margin: 10px 10px;
}
